<section class="h-100">
  <div class="container h-100">
    <div class="row justify-content-sm-center h-100">
      <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
        <div class="card shadow-lg position-relative mt-5">
          <div
            class="position-absolute start-50 translate-middle"
            style="top: 20px"
          >
            <img src="assets/ImagenLogin.png" alt="Login" width="100" />
          </div>

          <div class="card-body p-5 text-center mt-5">
            <h2 class="fs-4 card-title fw-bold mb-4">Login</h2>

            <form [formGroup]="loginForm">
              <p class="text-danger">{{ loginError }}</p>

              <div class="mb-3 text-start">
                <label class="mb-2 text-muted fw-bold" for="correo">Correo:</label>
                <input
                  formControlName="email"
                  type="email"
                  class="form-control"
                  id="correo"
                  placeholder="Digita tu correo"
                  required
                />
                <div
                  *ngIf="email.invalid && (email.dirty || email.touched)"
                  class="text-danger"
                >
                  <div *ngIf="email.errors?.['required']">
                    El correo es requerido.
                  </div>
                  <div *ngIf="email.errors?.['email']">
                    El correo debe tener un formato válido.
                  </div>
                </div>
              </div>

              <div class="mb-3 text-start">
                <label class="mb-2 text-muted fw-bold" for="password">Contraseña:</label>
                <input
                  formControlName="password"
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder="Digita tu contraseña"
                  minlength="6"
                  required
                />
                <div
                  *ngIf="
                    password.invalid && (password.dirty || password.touched)
                  "
                  class="text-danger"
                >
                  <div *ngIf="password.errors?.['required']">
                    La contraseña es requerida.
                  </div>
                  <div *ngIf="password.errors?.['minlength']">
                    La contraseña debe tener al menos 6 caracteres.
                  </div>
                </div>
              </div>

              <div class="d-flex justify-content-center">
                <button type="submit" (click)="login()" class="btn btn-primary">
                  Iniciar Sesión
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
